html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
    margin: 0 auto;
    background-color: midnightblue;
    min-width: 215px;
    max-width: 2000px;
    height: 100%;
}

.nav {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
}

.nav ul {
    display: inline-flex;
    justify-content: space-around;
    width: 40%;
}

.nav li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 110px;
    border-radius: 30px;
}    

.nav li:hover {background-color: rgb(115, 255, 0);}

.nav a:hover {
    font-size: 1.2rem;
    background:  rgb(115, 255, 0);
}

.breadcrumb {
    text-align: left;
    margin-top: 105px;
    display: block;
}

.breadcrumb ul {
    padding: 0px;
    margin: 10px 0px;
}

.breadcrumb li {
    margin:0px;
    list-style: none;
}
  
.breadcrumb a {
    float: left;
    color: #fff;
    background: darkcyan;
    text-decoration: none;
    position: relative;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 15px;
    padding: 0 5px;
}
  
  .breadcrumb .location a::before,
  .breadcrumb .location a::after {
    content: "";
    position: absolute;
    border-color: darkcyan;
    border-style: solid;
    border-width: 15px 5px;
  }
  
  .breadcrumb .location a::after {
    left: 100%;
    border-color: transparent;
    border-left-color: darkcyan;
  }
  .breadcrumb .location a::before {
    left: -10px;
    border-left-color: transparent;
  }
  
  .breadcrumb .location a:hover {
    background-color: rgb(115, 255, 0);
  }
  .breadcrumb .location a:hover::before {
    border-color: rgb(115, 255, 0);
    border-left-color: transparent;
  }
  .breadcrumb .location a:hover::after {
    border-left-color: rgb(115, 255, 0);
  }

/*grid*/
.grid-services {
    display: grid;
    width: 80%;
    position: relative;
    margin-left: 5%;
    height: 110%;
    grid-template: 15% 30% 25% 20% / 1fr 1fr 1fr 1fr;
    clear: left;
    /*justify-items: center;*/
    /*align-items: center;*/
}

.title {
    grid-area: 1 / 1 / span 1 / span 4;
    color: white;
    font-size: 2rem;
    text-align: center;
}
.code {
    grid-area: 4 / 1 / span 1 / span 1;
    color: white;
    margin-top: 15px;
    margin-left: 80px;

}
.code img {
    width: 50%;
}
.graph {
    grid-area: 4 / 2 / span 1 / span 1;
    color: white;
    margin-top: 15px;
    margin-left: 80px;
}
.graph img {
    width: 60%;
}
.para3 {
    grid-area: 2 / 1 / span 1 / span 4;
    color: white;
    margin-left: 25px;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 2.2rem;
    width: 100%;
}

.sensor {
    grid-area: 4 / 3 / span 1 / span 1;
    color: white;
    margin-top: 15px;
    margin-left: 80px;
}
.sensor img {
    width: 50%;
}

.animation {
    grid-area: 4 / 4 / span 1 / span 1;
    margin-left: 80px;
    margin-top: 15px;
    /*object-fit: scale-down;*/
}
.animation img {
   width: 50%; 
}



footer {
    font-size: 1rem;
    color: white;
    border-top: 3px solid white;
    width: 100%;
    align-content: center;
    /*margin-left: 5px;
    margin-right: 5px;*/
    padding-top: 10px;
    height: 10%;
}

.footer-part1 {
    text-align: center;
}

.footer-part2 {
    text-align: center;
    padding-bottom: 5px;
}

@media only screen and (max-width: 1200px) {
    .grid-services {
        margin-top: 10%;
        grid-template: 15% 40% 25% 20% / 1fr 1fr 1fr 1fr;
        height: 120%;
    }
}

@media only screen and (max-width: 1000px) {
    .nav ul {
        
        width: 40%;
    }
    .nav h1 {
        font-size: 1.3rem;
    }
    
    .grid-services {
        margin-top: 10%;
        height: 135%;
    }
    .title {
        font-size: 1.8rem;
    }
    .code img {
        width: 70%;
    }
    
    .graph img {
        width: 70%;
    }
    
    .sensor img {
        width: 70%;
    }
    
    .animation img {
       width: 70%; 
    }
    
    footer {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 850px) {
    .nav ul {
        
        width: 40%;
    }
    .nav h1 {
        font-size: 1.3rem;
    }
    
    .grid-services {
        margin-top: 10%;
        height: 145%;
        grid-template: 15% 47% 25% 20% / 1fr 1fr 1fr 1fr;
    }
    .code img {
        width: 70%;
    }
    
    .graph img {
        width: 70%;
    }
    
    .sensor img {
        width: 70%;
    }
    
    .animation img {
       width: 70%; 
    }
    
    footer {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 750px) {
    body {
        font-size: 0.8rem;
    }
    .nav ul {
        
        width: 40%;
    }
    .nav h1 {
        font-size: 1rem;
    }
    .nav a:hover {
        font-size: 0.9rem;
    }
    .grid-services {
        margin-top: 12%;
        height: 150%;
        grid-template: 10% 50% 25% 20% / 1fr 1fr 1fr 1fr;
    }
    .code img {
        width: 50px;
    }
    
    .graph img {
        width: 50px;
    }
    
    .sensor img {
        width: 50px;
    }
    
    .animation img {
       width: 50px; 
    }
    
    
    footer {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 630px) {
    body {
        font-size: 0.8rem;
    }
    .nav ul {
        width: 40%;
        margin-left: -4%;
        font-size: 0.7rem;
    }
    nav. h1 {
        font-size: 0.8rem;
        margin-left: 4%;
    }
    .nav a:hover {
        font-size: 0.9rem;
    }
    .grid-services {
        margin-top: 15%;
        height: 150%;
        grid-template: 10% 50% 25% 20% / 1fr 1fr 1fr 1fr;
    }
    .title {
        font-size: 1.3rem;
    }
    .para3 {
        font-size: 1.3rem;
        width: 100%;
    }
    .sensor {
        margin-left: 50px;
    }
    .code {
        margin-left: 50px;
    }
    .graph {
        margin-left: 50px;
    }
    .animation {
        margin-left: 50px;
    }
    
    footer {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 530px) {
    body {
        font-size: 0.8rem;
    }
    .nav ul {
        font-size: 0.7rem;
        width: 40%;
    }
    .nav h1 {
        font-size: 0.8rem;
        
    }
    .nav a:hover {
        font-size: 0.9rem;
    }
    .grid-services {
        margin-top: 18%;
        height: 150%;
        grid-template: 10% 50% 25% 20% / 1fr 1fr 1fr 1fr;
    }
    .para3 {
        font-size: 1.2rem;
        line-height: 1.8rem;
    }
    .sensor {
        margin-left: 30px;
    }
    .code {
        margin-left: 30px;
    }
    .graph {
        margin-left: 30px;
    }
    .animation {
        margin-left: 30px;
    }
    
    footer {
        font-size: 0.6rem;
    }
}

@media only screen and (max-width: 430px) {
    body {
        font-size: 0.8rem;
    }
    .nav {
        justify-content: start;
    }
    .nav ul {
        font-size: 0.7rem;
        width: 60%;
    }
    .nav li {
        width: 50px;
    }
    .nav h1 {
        font-size: 0.7rem;  
    }
    .nav a:hover {
        font-size: 0.8rem;
    }
    
    #cloud {
        width: 15%;
        height: 30%;
    }
    .breadcrumb {
        margin-top: 75px;
    }
    .grid-services {
        margin-top: 18%;
        height: 140%;
        grid-template: 10% 51% 25% 20% / 1fr 1fr 1fr 1fr;
    }
    .para3 {
        font-size: 1rem;
    }
    .sensor {
        margin-left: 20px;
    }
    .code {
        margin-left: 20px;
    }
    .graph {
        margin-left: 20px;
    }
    .animation {
        margin-left: 20px;
    }
    
    footer {
        font-size: 0.6rem;
    }
}

@media only screen and (max-width: 365px) {
    body {
        font-size: 0.8rem;
    }
    .nav {
        justify-content: start;
    }
    
    .nav ul {
        font-size: 0.6rem;
        width: 50%;
        margin-left: -45px;
    }
    .nav li {
        width: 60px;
        margin-left: 5px;
    }
    .nav h1 {
        font-size: 0.7rem; 
        width: 50%; 
        margin-left: -30px;
    }
    .nav a:hover {
        font-size: 0.7rem;
    }
    
    #cloud {
        /*width: 15%;
        height: 30%;*/
        visibility: collapse;
    }
    .grid-services {
        margin-top: 20%;
        grid-template: 10% 50% 25% 20% / 1fr 1fr 1fr 1fr;
        height: 160%;
    }
    .para3 {
        font-size: 1rem;
    }
    .sensor {
        margin-left: 10px;
    }
    .code {
        margin-left: 10px;
    }
    .graph {
        margin-left: 10px;
    }
    .animation {
        margin-left: 10px;
    }
    
    footer {
        font-size: 0.6rem;
        height: 3%;
        text-align: center;
    }
}

@media only screen and (max-width: 330px) {
    body {
        font-size: 0.8rem;
    }
    .nav {
        justify-content: start;
    }
    
    .nav ul {
        font-size: 0.6rem;
        width: 50%;
        margin-left: -45px;
    }
    .nav li {
        width: 60px;
        margin-left: 5px;
    }
    .nav h1 {
        font-size: 0.7rem; 
        width: 50%; 
        margin-left: -30px;
    }
    .nav a:hover {
        font-size: 0.7rem;
    }
    
    #cloud {
        /*width: 15%;
        height: 30%;*/
        visibility: collapse;
    }
    .grid-services {
        margin-top: 20%;
        grid-template: 10% 53% 25% 20% / 1fr 1fr 1fr 1fr;
        height: 150%;
        margin-left: 2%;
    }
    .para3 {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .sensor {
        margin-left: 8px;
    }
    .code {
        visibility: collapse;
    }
    .graph {
        margin-left: 8px;
    }
    .animation {
        margin-left: 8px;
    }
    
    
    footer {
        font-size: 0.6rem;
        height: 3%;
        text-align: center;
    }
}

@media only screen and (max-width: 280px) {
    body {
        font-size: 0.8rem;
    }
    .nav {
        justify-content: start;
    }
    
    .nav ul {
        font-size: 0.6rem;
        width: 50%;
        margin-left: -45px;
    }
    .nav li {
        width: 60px;
        margin-left: 5px;
    }
    .nav h1 {
        font-size: 0.7rem; 
        width: 50%; 
        margin-left: -30px;
    }
    .nav a:hover {
        font-size: 0.7rem;
    }
    
    #cloud {
        /*width: 15%;
        height: 30%;*/
        visibility: collapse;
    }
    .grid-services {
        margin-top: 20%;
        grid-template: 10% 55% 25% 20% / 1fr 1fr 1fr 1fr;
        height: 160%;
        margin-left: 2%;
    }
    .title {
        margin-left: 20px;
    }
    .para3 {
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .sensor {
        margin-left: 8px;
    }
    .code {
        visibility: collapse;
    }
    .graph {
        margin-left: 8px;
    }
    .animation {
        margin-left: 8px;
    }
    .code img {
        width: 90%;
    }
    
    footer {
        font-size: 0.6rem;
        height: 3%;
        text-align: center;
    }
}

