html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
    margin: 0 auto;
    background-color: midnightblue;
    min-width: 215px;
    max-width: 2000px;
}

.nav {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 1;
}

.nav ul {
    display: inline-flex;
    justify-content: space-around;
    width: 40%;
}

.nav li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 110px;
    border-radius: 30px;
}    

.nav li:hover {background-color: rgb(115, 255, 0);}

.nav a:hover {
    font-size: 1.2rem;
    background:  rgb(115, 255, 0);
}

.empty {
    height: 200px;
}



.grid-services {
    display: inline-flex;
    margin: 0 auto;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sensors, .research, .web {
    width: 400px;
    color: white;
    padding-bottom: 50px;
}

.sensors img {
    width: 100%;
    border: white 2px solid;
}

.research img {
    width: 100%;
    border: white 2px solid;
}

.web img {
    width: 100%;
    border: white 2px solid;
}

.sensors .research .web, p {
    line-height: 1.9rem;
}



footer {
    font-size: 1rem;
    color: white;
    border-top: 3px solid white;
    width: 100%;
    align-content: center;
    padding-top: 10px;
    height: 10%;
    position: relative;
    text-align: center;
}

@media only screen and (max-width: 450px) {
    .sensors, .research, .web {
        width: 300px;
        color: white;
        padding-bottom: 50px;
    }
    .nav ul {
        font-size: 0.7rem;
        width: 40%;
    }
    .nav h1 {
        font-size: 0.8rem;
        
    }
    .nav a:hover {
        font-size: 0.9rem;
    }
}

