html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16;
    margin: 0 auto;
    background-color: midnightblue;
    min-width: 215px;
    max-width: 2000px;
    height: 100%;
}

nav {
    display: inline-flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 10;
}

ul {
    display: inline-flex;
    justify-content: space-around;
    width: 40%;
}

li {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 110px;
    border-radius: 30px;
}    

li:hover {background-color: rgb(115, 255, 0);}

a:hover {
    font-size: 1.2rem;
    background:  rgb(115, 255, 0);
}


/*grid*/
.grid-area {
    display: grid;
    width: 90%;
    position: relative;
    margin-left: 5%;
    margin-top: 7%;
    grid-template: repeat(5, 30%)  / repeat(7, 1fr);
    justify-items: center;
    align-items: center;
    gap: 2px 2px;
    
}

.coverage-fields {
    grid-area: 1 / 1 / span 2 / span 2;
    justify-self: start;
    color: white;
}
#cloud-main {
    grid-area: 1 / 2 / span 2 / span 3;
    width: 110%;
    height:80%;
    margin-left: 50px;
    justify-self: start;
}
#computer-code {
    grid-area: 1 / 6 / span 2 / span 2;
}
#computer-code {
    width: 80%;
}
#sensors {
    grid-area: 3 / 1 / span 2 / span 2;
    width: 70%;
    align-self: start;
}

#computer-graph {
    grid-area: 3 / 3 / span 2 / span 2;
    align-self: start;
    justify-self: start;
    width: 100%;
}
.advice {
    grid-area: 3 / 6 / span 2 / span 1;
    width: 130%;
    align-self: start;
    color: white;
}
.advice ul {
    display: block;
}
.advice li {
    height: 50px;
    width: 200%;
    font-size: 1.2rem;
}

.advice a {
    color: white;
    text-decoration: none;
    margin-right: 50px;
}


footer {
    font-size: 1rem;
    color: white;
    border-top: 3px solid white;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    height: 10%;
}

#time {
    font-size: 0.8rem;
    padding-bottom: 5px;
}

@media only screen and (max-width: 1200px) {
    .grid-area {
        margin-top: 10%;
    }
    .coverage-fields {
        font-size: 0.9rem;
    }
    #computer-graph {
        width: 95%;  
    }

    footer {
        font-size: 1rem;
    }
    #time {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 1000px) {
    ul {
        
        width: 40%;
    }
    h1 {
        font-size: 1.3rem;
    }
    
    .grid-area {
        margin-top: 10%;
        height: 125%;
    }
    .coverage-fields {
        font-size: 0.7rem;
    }
    .advice {
        margin-left: 30%;
    }
    .advice h2 {
        font-size: 1.2rem;
        margin-left: 10%;
    }
    .advice ul {
        font-size: 0.9rem;
    }
    #computer-graph {
        width: 105%;
        margin-left: 30px;
        margin-bottom: 10px;
    }
    
    #sensors {
        width: 90%;
    }
    footer {
        font-size: 0.8rem;
    }
    #time {
        font-size: 0.8rem;
    }
}
@media only screen and (max-width: 750px) {
    body {
        font-size: 0.8rem;
    }
    ul {
        
        width: 40%;
    }
    h1 {
        font-size: 1rem;
    }
    a:hover {
        font-size: 0.9rem;
    }
    .grid-area {
        margin-top: 12%;
        height: 130%;
    }
    .coverage-fields {
        font-size: 0.6rem;
    }
    .advice {
        margin-left: 40%;
    }
    .advice h2 {
        font-size: 1.3rem;
        margin-left: 10%;
    }
    
    .advice li {
        height: 45px;
        font-size: 1rem;
    }
   
    #sensors {
        width: 90%;
    }
    footer {
        font-size: 0.8rem;
    }
    #time {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 630px) {
    body {
        font-size: 0.8rem;
    }
    ul {
        width: 40%;
        margin-left: -4%;
        font-size: 0.7rem;
    }
    h1 {
        font-size: 0.8rem;
        margin-left: 4%;
    }
    a:hover {
        font-size: 0.9rem;
    }
    .grid-area {
        margin-top: 15%;
        height: 130%;
    }
    .coverage-fields {
        font-size: 0.6rem;
    }
   
    #cloud-main {
        width: 200%;
        margin-left: 80px;
        z-index: 5;
    }
   .advice h2 {
       font-size: 0.9rem;
   }
   .advice li {
       font-size: 0.7rem;
       height: 35px;
   }
   #computer-code {
    opacity: 0;
    }
    #sensors {
        width: 90%;
    }
    footer {
        font-size: 0.7rem;
    }
    #time {
        font-size: 0.6rem;
    }
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 0.8rem;
    }
    ul {
        font-size: 0.7rem;
        width: 40%;
    }
    h1 {
        font-size: 0.8rem;
        
    }
    a:hover {
        font-size: 0.9rem;
    }
    .grid-area {
        margin-top: 18%;
        height: 100%;
    }
    .coverage-fields {
        font-size: 0.6rem;
    }
    
    #sensors {
        width: 100%;
    }
    .advice {
        width: 100%;
    }
    footer {
        font-size: 0.6rem;
    }
    #time {
        font-size: 0.6rem;
    }
}

@media only screen and (max-width: 400px) {
    body {
        font-size: 0.8rem;
    }
    nav {
        justify-content: start;
    }
    ul {
        font-size: 0.7rem;
        width: 60%;
    }
    li {
        width: 50px;
    }
    h1 {
        font-size: 0.7rem;  
    }
    a:hover {
        font-size: 0.8rem;
    }
    
    #cloud {
        width: 15%;
        height: 30%;
    }
    .grid-area {
        margin-top: 18%;
        height: 100%;
    }
    .coverage-fields {
        font-size: 0.6rem;
        line-height: 1.3rem;
    }
    .advice {
        grid-area: 3 / 6 / span 2 / span 1;
        width: 160%;
        margin-right: 40%;
    }
    .advice h2 {
        font-size: 0.8rem;
    }
    .advice ul {
        font-size: 0.7rem;
        display: contents;
        
    }
    .advice li {
        height: 30px;
        width: 70%;
        margin-left: 10%;
    }
    #cloud-main {
        width: 220%;
        margin-left: 60px;
    }
    #computer-graph {
        grid-area: 3 / 1 / span 2 / span 1;
        width: 280%;
        
    }

    #sensors {
        opacity: 0;
    }
    footer {
        font-size: 0.6rem;
    }
    #time {
        font-size: 0.6rem;
    }
}

@media only screen and (max-width: 350px) {
    body {
        font-size: 0.8rem;
    }
    nav {
        justify-content: start;
    }
    ul {
        font-size: 0.7rem;
        width: 60%;
    }
    li {
        width: 50px;
    }
    h1 {
        font-size: 0.7rem;  
    }
    a:hover {
        font-size: 0.8rem;
    }
    
    #cloud {
        width: 15%;
        height: 30%;
    }
    .grid-area {
        margin-top: 18%;
        height: 100%;
    }
    .coverage-fields {
        font-size: 0.6rem;
        line-height: 1.3rem;
    }
    .advice {
        grid-area: 3 / 6 / span 2 / span 1;
        
    }
    .advice h2 {
        font-size: 0.8rem;
    }
    .advice ul {
        font-size: 0.7rem;
    }
    
    #cloud-main {
        width: 210%;
        height: 70%;
        margin-left: 70px;
    }
    #computer-graph {
        grid-area: 3 / 1 / span 2 / span 1;
        width: 350%;
    }
    #computer-code {
        margin-left: -100px;
    }
    footer {
        font-size: 0.6rem;
    }
    #time {
        font-size: 0.6rem;
    }
}

@media only screen and (max-width: 310px) {
    body {
        font-size: 0.8rem;
    }
    nav {
        justify-content: start;
    }
    
    ul {
        font-size: 0.6rem;
        width: 50%;
        margin-left: -45px;
    }
    li {
        width: 60px;
        margin-left: 5px;
    }
    h1 {
        font-size: 0.7rem; 
        width: 50%; 
        margin-left: -30px;
    }
    a:hover {
        font-size: 0.7rem;
    }
    
    #cloud {
        opacity: 0;
        
    }
    .grid-area {
        margin-top: 20%;
        height: 100%;
    }
    .coverage-fields {
        font-size: 0.5rem;
        line-height: 1.3rem;
    }
    .advice {
       margin-right: 50%;
    }
    .advice h2 {
        font-size: 0.8rem;
    }
    
    .advice li {
        height: 20px;
    }
    #cloud-main {
        width: 200%;
        margin-left: 60px;
        height: 60%;
    }
    #computer-graph {
        width: 400%;
        margin-left: -5%;
    }
    
    footer {
        font-size: 0.6rem;
        height: 3%;
        text-align: center;
    }
    
    #time {
        font-size: 0.6rem;
        width: 95%;
        text-align: center;
    }
}

@media only screen and (max-width: 280px) {
    body {
        font-size: 0.8rem;
    }
    nav {
        justify-content: start;
    }
    
    ul {
        font-size: 0.6rem;
        width: 50%;
        margin-left: -45px;
    }
    li {
        width: 60px;
        margin-left: 5px;
    }
    h1 {
        font-size: 0.7rem; 
        width: 50%; 
        margin-left: -30px;
    }
    a:hover {
        font-size: 0.7rem;
    }
    
    .grid-area {
        margin-top: 20%;
        height: 100%;
    }
    .coverage-fields {
        font-size: 0.4rem;
        line-height: 1.3rem;
    }
    .advice {
        margin-right: 65%;
    }
    .advice h2 {
        font-size: 0.8rem;
    }
    .advice ul {
        font-size: 0.6rem;
    }
    .advice li {
        height: 20px;
    }
    #cloud-main {
        width: 240%;
        margin-left: 60px;
        height: 60%;
    }
    #computer-graph {
        opacity: 0;
    }
    #computer-code {
        margin-left: -70px;
    }
    
    footer {
        font-size: 0.6rem;
        height: 3%;
        text-align: center;
    }
    
    #time {
        font-size: 0.6rem;
        width: 95%;
        text-align: center;
    }
}
/*
@media only screen and (max-width: 250px) {
    
    .advice {
        margin-right: 110%;
        width: 180%;
    }
    .advice h2 {
        font-size: 0.9rem;
    }
    .advice ul {
        font-size: 0.7rem;
        display: contents;
    }
    .advice li {
        height: 30px;
    }
    #cloud-main {
        width: 260%;
        margin-left: 60px;
        height: 60%;
    }
    
    .grid-area {
        margin-top: 20%;
        height: 100%;
    }
    
}
